<div class="property-card">
    <img [src]="'assets/images/default-property.png'" alt="Imagen del inmueble" class="property-image" />
  
    <div class="property-details">
      <h3 class="property-title">{{ property.titulo }}</h3>
      <p class="property-description">{{ property.descripcion }}</p>
  
      <div class="property-meta">
        <span class="property-rooms">{{ property.habitaciones }} {{ property.habitaciones === 1 ? 'habitación' : 'habitaciones' }}</span>
      </div>
      <div class="property-meta">
        <span class="property-rooms">{{ property.estado === 0 ? 'Obra nueva' : property.estado === 1 ? 'Buen estado' : 'A reformar'}}</span>
      </div>
      <div class="property-meta">
        <span class="property-rooms">{{ property.tipo_propiedad === 0 ? 'Vivienda' : property.tipo_propiedad === 1 ? 'Oficina' : 'Garaje'}} en {{ property.tipo_oferta === 0 ? 'Venta' : 'Alquiler' }}</span>
      </div>

      <div class="property-price">{{ property.precio | currency: 'EUR' }}</div>
    </div>
    <p class="property-type">{{ isOwner ? 'Eres propietario' : '' }}</p>
</div>
