<div class="property-card">
    <img [src]="property.image || 'assets/images/default-property.png'" alt="Imagen del inmueble" class="property-image" />
  
    <div class="property-details">
      <h3 class="property-title">{{ property.title }}</h3>
      <p class="property-description">{{ property.description }}</p>
  
      <div class="property-meta">
        <span class="property-rooms">{{ property.rooms }} {{ property.rooms === 1 ? 'habitación' : 'habitaciones' }}</span>
        <span class="property-baths">{{ property.baths }} {{ property.baths === 1 ? 'baño' : 'baños' }}</span>
      </div>
  
      <div class="property-price">{{ property.price | currency: 'EUR' }}</div>
    </div>
    <p class="property-type">{{ property.type === 1 ? 'Casa' : property.type === 2 ? 'Apartamento' : 'Solar'}} en {{ property.offerType === 1 ? 'Venta' : 'Alquiler' }}</p>
  </div>