<div class="offer-detail-container">
  <div class="main-content">
    <div class="image-gallery">
      <button class="gallery-nav left"><mat-icon>chevron_left</mat-icon></button>
      <img [src]="property.image || 'assets/images/default-property.png'" alt="Imagen de la propiedad" />
      <button class="gallery-nav right"><mat-icon>chevron_right</mat-icon></button>
    </div>

    <div class="property-info">
        <h1>{{ property.title }}</h1>
        <p>{{ property.description }}</p>
        <p>Tipo: {{ property.type }}</p>
        <p>Habitaciones: {{ property.rooms }}</p>
        <p>Baños: {{ property.baths }}</p>
        <p>Tipo anuncio: {{ property.offerType }}</p>
        <p>Precio: {{ property.price }}€</p>
    </div>
  </div>

  <div class="action-buttons">
    <button class="map-button">
      Abrir en el mapa
      <mat-icon>map</mat-icon>
    </button>
    <button class="map-button">
      Contactar con el propietario
      <mat-icon>chat</mat-icon>
    </button>
    <button class="map-button">
      Añadir a favoritos
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
