<div class="offer-detail-container">
  <div style="position: relative; display: flex; align-items: center; padding-top: 20px; padding-bottom: 30px;">
    <button mat-icon-button (click)="goBack()" style="position: absolute; left: 0;">
      <mat-icon>arrow_back</mat-icon>
    </button>
  </div>
  <div class="main-content">
    <div class="image-gallery">
      <button class="gallery-nav left"><mat-icon>chevron_left</mat-icon></button>
      <img [src]="'assets/images/default-property.png'" alt="Imagen de la propiedad" />
      <button class="gallery-nav right"><mat-icon>chevron_right</mat-icon></button>
    </div>

    <div class="property-info">
        <h1>{{ property.titulo || 'Titulo' }}</h1>
        <p>ℹ️ {{ property.descripcion || 'Descripción' }}</p>
        <p>📍 {{ property.ubicacion || 'Ubicacion' }}</p>
        <p><b>Tipo:</b> {{ property.tipo_propiedad === 0 ? 'Vivienda' : property.tipo_propiedad === 1 ? 'Oficina' : 'Garaje' }}</p>
        <p><b>Tipo de anuncio:</b> {{ property.tipo_oferta === 0 ? 'Venta' : 'Alquiler' }}</p>
        <p><b>Habitaciones:</b> {{ property.habitaciones || '--' }}</p>
        <p class="price"><b>Precio:</b> {{ (property.precio || 0) | currency: 'EUR' }}</p>
    </div>
  </div>

  <div class="action-buttons">
    <button class="map-button" (click)="openMapModal()">
      Abrir en el mapa
      <mat-icon>map</mat-icon>
    </button>
    <button class="map-button" (click)="createChatAndNavigate()">
      Contactar con el propietario
      <mat-icon>chat</mat-icon>
    </button>
    <button class="map-button" (click)="addToFavourites()" *ngIf="!isFavourite">
      Añadir a favoritos
      <mat-icon>favorite</mat-icon>
    </button>
    <button class="map-button-delete" (click)="removeFromFavourites()" *ngIf="isFavourite">
      Eliminar de favoritos
      <mat-icon>delete</mat-icon>
    </button>
    <button class="map-button-offer" (click)="createOffer()" *ngIf="!isOwner">
      Realizar oferta
      <mat-icon>local_offer</mat-icon>
    </button>
    <button class="map-button" (click)="navigateToEdit()" *ngIf="isOwner">
      Editar propiedad
      <mat-icon>edit</mat-icon>
    </button>
  </div>
</div>
