@import '../../../../../styles.scss';

    .container {
        justify-items: center;
        align-items: center;

        h2 {
            text-align: center;
            color: $Propibay-primary;
        }

        button {
            margin-top: 15px;
            width: 100%;
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1rem;
            display: block;
            font-weight: bold;
            background-color: $Propibay-secondary;
            color: $Propibay-primary;
    
            &:hover {
                opacity: 0.9;
              }
        }
    
        .confirm-button {
            background-color: $Propibay-green;
            color: white;
        }

    }