<div class="chat-container">
    <div class="chat-list">
      <div *ngFor="let chat of chats" 
        (click)="selectChat(chat)" 
        [ngClass]="{'chat-item': chat !== selectedChat, 'chat-item-selected': chat === selectedChat}">
        {{ chat.name }}
      </div>
    </div>
  
    <div class="chat-window">
      <div class="message-list">
        <div
          *ngFor="let message of selectedChat?.messages"
          [ngClass]="{'message-received': !message.isSentByUser, 'message-sent': message.isSentByUser}"
        >
          {{ message.content }}
        </div>
      </div>
      <div class="message-input">
        <input [(ngModel)]="newMessage" (keydown.enter)="sendMessage()" placeholder="Escribe un mensaje..." />
        <button (click)="sendMessage()">Enviar</button>
      </div>
    </div>
  </div>
  