<div class="header">
    <mat-icon class="icon">favorite_border</mat-icon>
    <h1>Los favoritos de nuestros usuarios</h1>
    <div class="search-container">
        <input matInput placeholder="Buscar oferta" [(ngModel)]="searchQuery" class="search-input" (keydown.enter)="searchOffers()" />
        <button class="search-button" (click)="searchOffers()">
          <mat-icon class="icon">search</mat-icon>
        </button>
    </div>
</div>
<div class="offers-container">
    <app-property-card *ngFor="let property of filteredProperties" [property]="property"></app-property-card>
</div>
