@import '../../../../styles.scss';

$border-radius: 5px;

.header {
    display: flex;
    flex-direction: row;
    align-items: center;

    h1 {
        color: $Propibay-primary;
        margin-left: 10px;
        margin-right: 40px;
    }

    .icon {
        font-size: 24px;
        vertical-align: middle;
        color: $Propibay-primary;
      }

    .search-container {
        display: flex;
        align-items: center;
    
        .search-input {
          padding: 10px;
          font-size: 1rem;
          border-radius: $border-radius;
          border: 1px solid #ccc;
          width: 200px;
          margin-right: 5px;
    
          &:focus {
            border-color: $Propibay-primary;
            outline: none;
          }
        }

        .property-type-select {
          width: 200px;
          padding: 10px;
          border: 1px solid #ccc;
          margin-left: 10px;
          border-radius: $border-radius;
          background-color: white;
          appearance: none;
          -webkit-appearance: none;
          -moz-appearance: none;
        }
    }

    .search-button {
        margin-left: 10px;
        background: $Propibay-secondary;
        color: $Propibay-primary;
        border: none;
        cursor: pointer;
        font-weight: bold;
        border-radius: $border-radius;
    
        .icon {
          font-size: 24px;
          vertical-align: middle;
        }
  
        &:hover {
          opacity: 0.8;
        }
      }

}

.offers-container {
    display: block;
    cursor: pointer;
    flex-direction: column;
    flex-wrap: wrap;
  }