<nav *ngIf="shouldShowMenu()">
  <div class="menu-container">
    <span class="icon left">
      <mat-icon (click)="toggleDropdown()" *ngIf="shouldShowButtons()">local_offer</mat-icon>
    </span>
    <img src="favicon.ico" alt="Propibay Logo" (click)="goHome()">
    <div class="icons-container" *ngIf="shouldShowButtons()">
      <span class="icon right">
        <mat-icon (click)="goCreateOffer()">add_circle</mat-icon>
      </span>
      <span class="icon right">
        <mat-icon (click)="goChat()">chat</mat-icon>
      </span>
      <span class="icon right">
        <mat-icon (click)="goProfile()">account_circle</mat-icon>
      </span>
    </div>
  </div>
</nav>