@import '../../../../../styles.scss';

nav {
  background-color: $Propibay-secondary;
  display: flex;
  width: auto;
  height: 100%;
  overflow-x: hidden;

  .menu-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    width: 100%;
    position: relative;

    img {
      width: 75px;
      cursor: pointer; 
      vertical-align: middle;
      margin: 0 auto;
    }

    .icon {
      cursor: pointer; 
      color: $Propibay-primary; 
      align-items: center; 
      justify-content: center;

      mat-icon {
        font-size: 24px;  
        line-height: 1;
        vertical-align: middle;
      }
    }

    .left {
      position: absolute;
      left: 10px; 
    }

    .icons-container {
      right: 10px;  
      display: flex;
      flex-direction: row;
      align-items: center; 
      gap: 10px;
      margin-right: 20px;
    }
  }
}
