<div class="page">
  <h1>Propibay</h1>
  <img src="favicon.ico" alt="Propibay Logo">

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="email">Email</label>
      <input type="email" id="email" formControlName="email">
      <div *ngIf="loginForm.get('email')?.invalid && loginForm.touched">
        <small *ngIf="loginForm.get('email')?.errors?.['required']">Campo requerido</small>
        <small *ngIf="loginForm.get('email')?.errors?.['email']">Email no es válido</small>
      </div>
    </div>
  
    <div>
      <label for="password">Contraseña</label>
      <input type="password" id="password" formControlName="password">
      <!-- Mostrar un error si el campo es inválido -->
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']">Campo requerido</small>
      </div>
    </div>
  
    <div>
      <button type="submit" class="btn-submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
      <button type="button" class="btn-google" [disabled]="true" (click)="onGoogleLogin()">
        <img src="assets/images/google.svg" alt="Google Icon"> Iniciar Sesión con Google
      </button>
      <button type="button" class="btn-create" (click)="onClickCreateAccount()">Crear Cuenta</button>
      <small *ngIf="showLoginError">Usuario o contraseña inválidos</small>
    </div>
  </form>
</div>
