<div class="offers-container">
    <div class="sent-offers">
      <h2>Ofertas Realizadas</h2>
      <ul>
        <li *ngFor="let offer of sentOffers">
            <h3>{{ properties[offer.propiedad_id]?.titulo || 'Cargando...' }}</h3>
            <p>Propietario: <b>{{ properties[offer.propiedad_id]?.propietario_email || 'Cargando...' }}</b></p>
            <p>Monto ofertado: <b class="money">{{ offer.dinero_oferta | currency: 'EUR' }}</b></p>
            <div class="offer-actions">
              <p class="waiting"><b>Esperando respuesta del propietario</b></p>
              <button class="reject-button" (click)="deleteOffer(offer)">
                <mat-icon>close</mat-icon>
              </button>
          </div>
        </li>
      </ul>
    </div>
    <div class="received-offers">
      <h2>Ofertas Recibidas</h2>
      <ul>
        <li *ngFor="let offer of receivedOffers">
            <h3>{{ properties[offer.propiedad_id]?.titulo || 'Cargando...' }}</h3>
            <p>Ofertante: <b>{{ offer.cliente_email || 'Cargando...' }}</b></p>
            <p>Monto ofertado: <b class="money">{{ offer.dinero_oferta | currency: 'EUR' }}</b></p>
            <div class="offer-actions">
                <button class="accept-button" (click)="acceptOffer(offer)">
                  <mat-icon>check</mat-icon>
                </button>
                <button class="reject-button" (click)="deleteOffer(offer)">
                  <mat-icon>close</mat-icon>
                </button>
            </div>
        </li>
      </ul>
    </div>
  </div>
  