<div style="position: relative; display: flex; align-items: center; padding-top: 20px; padding-bottom: 30px;">
    <button mat-icon-button (click)="goBack()" style="position: absolute; left: 0;">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="header">
    <h1>Gestionar usuarios</h1>
    <div class="search-container">
        <input matInput placeholder="Buscar usuario" [(ngModel)]="searchQuery" class="search-input" (keydown)="searchUsers()" />
        <button class="search-button" (click)="searchUsers()">
          <mat-icon class="icon">search</mat-icon>
        </button>
    </div>
</div>
<div class="offers-container">
    <app-user-card *ngFor="let user of filteredUsers" [user]="user" (click)="delete(user.email)"></app-user-card>
</div>
