<div style="position: relative; display: flex; align-items: center; padding-top: 20px; padding-bottom: 30px;">
    <button mat-icon-button (click)="goBack()" style="position: absolute; left: 0;">
      <mat-icon>arrow_back</mat-icon>
    </button>
</div>
<div class="create-offer-container">
    <div class="form-card">
        <h2>Datos de tu anuncio</h2>
        <form class="property-form" [formGroup]="propertyForm" (ngSubmit)="onSubmit()">
            <div>
                <label for="title">Título</label>
                <input type="text" id="title" formControlName="title" required>
                <div *ngIf="propertyForm.get('title')?.invalid && propertyForm.touched">
                    <small *ngIf="propertyForm.get('title')?.errors?.['required']">Campo requerido</small>
                </div>
            </div>
            <div>
                <label for="description">Descripción</label>
                <input type="text" id="description" formControlName="description" required>
            </div>
            <div>
                <label for="type">Tipo de inmueble</label>
                <select id="type" formControlName="type" required>
                    <option value="" disabled selected>Selecciona</option>
                    <option value="1">Casa</option>
                    <option value="2">Apartamento</option>
                </select>
                <div *ngIf="propertyForm.get('type')?.invalid && propertyForm.touched">
                  <small *ngIf="propertyForm.get('type')?.errors?.['required']">Campo requerido</small>
                </div>
            </div>
            <div>
                <label for="offer-type">Tipo de anuncio</label>
                <select id="offer-type" formControlName="offerType" required>
                    <option value="" disabled selected>Selecciona</option>
                    <option value="1">Venta</option>
                    <option value="2">Alquiler</option>
                </select>
                <div *ngIf="propertyForm.get('offerType')?.invalid && propertyForm.touched">
                  <small *ngIf="propertyForm.get('offerType')?.errors?.['required']">Campo requerido</small>
                </div>
            </div>
            <div>
                <label for="rooms">Habitaciones</label>
                <input type="number" id="rooms" formControlName="rooms" required>
                <div *ngIf="propertyForm.get('rooms')?.invalid && propertyForm.touched">
                    <small *ngIf="propertyForm.get('rooms')?.errors?.['required']">Campo requerido</small>
                    <small *ngIf="propertyForm.get('rooms')?.errors?.['min']">Mínimo 1 habitación</small>
                </div>
            </div>
            <div>
                <label for="state">Estado</label>
                <input type="number" id="state" formControlName="state" required>
                <div *ngIf="propertyForm.get('state')?.invalid && propertyForm.touched">
                    <small *ngIf="propertyForm.get('state')?.errors?.['required']">Campo requerido</small>
                </div>
            </div>
            <div>
                <label for="extension">Extensión</label>
                <input type="text" id="extension" formControlName="extension" required>
                <div *ngIf="propertyForm.get('extension')?.invalid && propertyForm.touched">
                    <small *ngIf="propertyForm.get('extension')?.errors?.['required']">Campo requerido</small>
                    <small *ngIf="propertyForm.get('extension')?.errors?.['min']">Mínima extensión de 100m2</small>
                </div>
            </div>
            <div>
                <label for="price">Precio</label>
                <input type="text" id="price" formControlName="price" required>
                <div *ngIf="propertyForm.get('price')?.invalid && propertyForm.touched">
                    <small *ngIf="propertyForm.get('price')?.errors?.['required']">Campo requerido</small>
                    <small *ngIf="propertyForm.get('price')?.errors?.['min']">Precio mínimo de 1000€</small>
                </div>
            </div>
            <div>
                <button type="submit">Crear oferta</button>
                <button type="delete" (click)="onDelete()">Eliminar oferta</button>
            </div>
        </form>
    </div>
  
    <div class="map-card">
        <h2>Ubicación del inmueble</h2>
        <div class="row">
          <form [formGroup]="propertyForm">
              <input matInput placeholder="Buscar ubicación" formControlName="location" #locationInput (keyup.enter)="searchLocation(locationInput.value)"/>
          </form>
          <button class="search-button" (click)="searchLocation(locationInput.value)">
              <mat-icon class="icon">search</mat-icon>
          </button>
        </div>
        <div id="map" style="height: 500px; width: 90%;"></div>
      </div>
    </div>
  